<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Reset your password</title>
  </head>
  <body
    style="
      background-color: #f6f9fc;
      padding: 10px 0;
      margin: 0;
      font-family: &quot;Open Sans&quot;, &quot;HelveticaNeue-Light&quot;,
        &quot;Helvetica Neue Light&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial,
        &quot;Lucida Grande&quot;, sans-serif;
    "
  >
    <div
      style="
        max-width: 600px;
        margin: 0 auto;
        background-color: #ffffff;
        border: 1px solid #f0f0f0;
        padding: 45px;
      "
    >
      <h1
        style="
          font-size: 22px;
          font-weight: 700;
          color: #404040;
          line-height: 32px;
          margin-top: 0;
        "
      >
        ACME
      </h1>

      <p style="font-size: 16px; font-weight: 300; color: #404040; line-height: 26px">
        Hi,
      </p>

      <p style="font-size: 16px; font-weight: 300; color: #404040; line-height: 26px">
        Someone recently requested a password change for your ACME account. If this was
        you, you can set a new password here:
      </p>

      <a
        href="<%= link %>"
        style="
          background-color: #09090b;
          border-radius: 4px;
          color: #fafafa;
          font-family: &quot;Open Sans&quot;, &quot;Helvetica Neue&quot;, Arial;
          font-size: 15px;
          text-decoration: none;
          text-align: center;
          display: block;
          width: 210px;
          padding: 14px 7px;
          margin: 20px 0;
        "
      >
        Reset password
      </a>

      <p style="font-size: 16px; font-weight: 300; color: #404040; line-height: 26px">
        If you don't want to change your password or didn't request this, just ignore and
        delete this message.
      </p>

      <p style="font-size: 16px; font-weight: 300; color: #404040; line-height: 26px">
        To keep your account secure, please don't forward this email to anyone.
      </p>

      <p style="font-size: 16px; font-weight: 300; color: #404040; line-height: 26px">
        Have a nice day!
      </p>
    </div>
  </body>
</html>
